* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  border-bottom: 1px solid #eee;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.btn-nav {
  background: #4f6bed;
  color: white !important;
  padding: 8px 16px;
  border-radius: 6px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 36px;
  font-weight: 600;
}

.hero p {
  margin-top: 15px;
  color: #555;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* CONVERTER */
.converter-box {
  margin-top: 40px;
  background: #f5f5f5;
  padding: 50px;
  border-radius: 12px;
  display: inline-block;
}

#uploadBtn {
  background: #4f6bed;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#uploadBtn:hover {
  background: #3f5adb;
}

#status {
  margin-top: 15px;
  font-weight: 500;
}

.downloads {
  margin-top: 20px;
}

.download-btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 18px;
  border-radius: 6px;
  background: #111;
  color: white;
  text-decoration: none;
}

.hidden {
  display: none;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 80px;
  padding-bottom: 80px;
}

.feature {
  text-align: center;
  max-width: 200px;
}

.feature h3 {
  margin-top: 10px;
  font-weight: 600;
}
